<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'TAB3.TITLE' | translate }}</ion-title>

    <!-- Selector de idioma en la esquina derecha -->
    <ion-buttons slot="end">
      <!-- Cambiamos translate.currentLang por idiomaActual -->
      <ion-select interface="popover" [value]="idiomaActual" (ionChange)="cambiarIdioma($event)">
        <ion-select-option value="es">ES</ion-select-option>
        <ion-select-option value="en">EN</ion-select-option>
      </ion-select>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form>
    <ion-list>

      <ion-item>
        <ion-input
          [label]="'TAB3.LABEL_NAME' | translate"
          labelPlacement="stacked"
          type="text"
          [placeholder]="'TAB3.PLACEHOLDER_NAME' | translate"
          [value]="producto().nombre"
          (ionInput)="actualizarNombre($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [label]="'TAB3.LABEL_PRICE' | translate"
          labelPlacement="stacked"
          type="number"
          [placeholder]="'TAB3.PLACEHOLDER_PRICE' | translate"
          min="0"
          [value]="producto().precio"
          (ionInput)="actualizarPrecio($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          [label]="'TAB3.LABEL_CATEGORY' | translate"
          labelPlacement="stacked"
          [placeholder]="'TAB3.PLACEHOLDER_CATEGORY' | translate"
          [value]="producto().categoria"
          (ionChange)="actualizarCategoria($event)">

          <ion-select-option value="Laptops">
            {{ 'TAB3.CAT_LAPTOPS' | translate }}
          </ion-select-option>
          <ion-select-option value="Celulares">
            {{ 'TAB3.CAT_PHONES' | translate }}
          </ion-select-option>
          <ion-select-option value="Accesorios">
            {{ 'TAB3.CAT_ACCESSORIES' | translate }}
          </ion-select-option>
          <ion-select-option value="Otros">
            {{ 'TAB3.CAT_OTHERS' | translate }}
          </ion-select-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          [label]="'TAB3.LABEL_STOCK' | translate"
          labelPlacement="stacked"
          type="number"
          [placeholder]="'TAB3.PLACEHOLDER_STOCK' | translate"
          min="0"
          [value]="producto().stock"
          (ionInput)="actualizarStock($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-toggle
          [checked]="producto().activo"
          (ionChange)="actualizarActivo($event)">
          {{ 'TAB3.LABEL_ACTIVE' | translate }}
        </ion-toggle>
      </ion-item>

    </ion-list>

    <ion-button
      type="button"
      expand="block"
      (click)="guardarProducto()">
      {{ 'TAB3.BTN_SAVE' | translate }}
    </ion-button>

  </form>

</ion-content>