<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form>

    <ion-list>

      <ion-item>
        <ion-input
          label="Nombre"
          labelPlacement="stacked"
          type="text"
          placeholder="Ejemplo: Laptop Gamer Pro"
          [value]="producto().nombre"
          (ionInput)="actualizarNombre($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Precio"
          labelPlacement="stacked"
          type="number"
          placeholder="Ejemplo: 1299.99"
          min="0"
          [value]="producto().precio"
          (ionInput)="actualizarPrecio($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Categoría"
          labelPlacement="stacked"
          placeholder="Selecciona una categoría"
          [value]="producto().categoria"
          (ionChange)="actualizarCategoria($event)">

          <ion-select-option value="Laptops">
            Laptops
          </ion-select-option>

          <ion-select-option value="Celulares">
            Celulares
          </ion-select-option>

          <ion-select-option value="Accesorios">
            Accesorios
          </ion-select-option>

          <ion-select-option value="Otros">
            Otros
          </ion-select-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          label="Stock"
          labelPlacement="stacked"
          type="number"
          placeholder="Ejemplo: 15"
          min="0"
          [value]="producto().stock"
          (ionInput)="actualizarStock($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-toggle
          [checked]="producto().activo"
          (ionChange)="actualizarActivo($event)">
          Producto activo
        </ion-toggle>
      </ion-item>

    </ion-list>

    <ion-button
      type="button"
      expand="block"
      (click)="guardarProducto()">
      Guardar producto
    </ion-button>

  </form>

</ion-content>